.homepage{
    width: 100%;
    height: 100%;
  /* position: fixed; */
}
.homepage span{
    color: #76747A;

}
.nav{
    width: 100%;
    /* height:100%; */
    border: 2px solid gray;
    display: flex;
    z-index: 5;
    flex-direction: column;
    gap: 2rem;
      /* background: transparent;
       */
       position: fixed;
        -webkit-backdrop-filter: blur(5px);
       backdrop-filter: blur(5px);
       }
    .navd{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 5;
    justify-content: space-between;

}
/* .logo img {
    height: 20px;
    width: 30px;
} */
 
.logo {
    width: 110px;
    height: 110px;
    overflow: hidden;
    border-radius: 50%;
    }
    
    .logo img {
      border-radius: 50%;
    width: 100%;
  height: 100%;

  object-fit: cover;
  }
.hire{
    padding-left: 1rem;
}
.links{
    display: flex;
    gap: 6rem;
    align-items: center;
    padding-right: 2rem;
}
/* .links :active{
    background-color: gray;
} */
.navigate{
    color: #76747A;
    transition: all 0.5s;
}
.mode{
    width: 20px;
 }
 #mo{
    color: black;
 }
 .cl{
     display: none;

     }
     .op{
         display: block;
    font-size: x-large;
 }
 .mode:hover{
    cursor: pointer;
 }
.navigate:hover{
    color: #64FFDA;
    font-size: 1.5rem;
    border-radius: 100%;
    /* background-color: aqua; */
}

.image img{
    border-bottom-right-radius: 300px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.toggle{
    display: none;
}
.togglemenu{
    display: none;
}
.close{
    display: none;
}
@keyframes example {
    0% {padding-bottom: 35rem;}
    30% {padding-bottom: 0rem;}
    60% {padding-bottom: 25rem;}
        75% {padding-bottom: 0rem;}
        85%{padding-bottom: 10rem;}
        100%{padding-bottom: 0rem;}

    }

    @media only screen and (max-width:722px) {
        .image {
            display: none;
        }
        .logo{
            margin-left: 15px;
        }
        .toggle{
            display: block;
            position: absolute;
            right: 2rem;
            font-size: xx-large;
        }
        .close{
            display: none;
        }
        .text{
            align-items: center;
            /* height: 100%; */
        }
        .innernav{
            height: 100%;
        }
        .box{
            width: 100%;
        }
        .quote{
            width: 80%;
        }
        .links{
            display: none;
        }
        #mo{
            color: #76747A;
        }
        .navd{
            justify-content: space-between;
        }
        .activity{
            flex-direction: column;
            height: 70vh;
        }
        .barn{
            flex-direction: column;
        }
        .cont{
            width: 100%;
            padding-right: 0;
        }
        .candidateinfo{
            height: 90vh;
        }
        .contactpage{
            gap: 2rem;
            flex-direction: column;
        }
        .handles{
            flex-direction: column;
            justify-content: space-around;
        }
        .togglemenu{
            display: flex;
            opacity: 0.5;
            background-color: black;
            position: absolute;
            width: 100%;
            align-items: center;
            padding-top: 10rem;
            gap: 5rem;
            z-index: 1;
            flex-direction: column;
           
        }
        .comp{
            font-size: xx-large;
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }
        .navigate:hover{
            font-size: xxx-large;
            
        }
        
        .toggle2{
            position: absolute;
            color: white;
            right: 2rem;
            top: 1rem;
            font-size: xx-large;
        }
        .resume{
            margin-bottom: 20px;
        }
        .slash{
            display: none;
        }
    }
    .handles a{
        color: gray;
    }
    .resume{
        display: inline-block;
        text-decoration: none;
        /* color: black; */
        color: #64FFDA;
        padding: 0.75rem 1rem;
        border: 2px solid #64FFDA;
        border-radius: 5px;
        line-height: 1;
        position: relative;
        z-index: 15;
    }
    .resume:hover{
        transition: 0.5s all ;
        margin-bottom: 10px;
        box-shadow: 4px 4px #64FFDA;
    }